.karBodyFood{
  background-color: white;
}
/*PLAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACES*/
.dharwadPeda{
  width:755px;
  height:350px;
  background-color: #FAFCFC;
  margin-left:-5px;
  margin-top : -110px;
  border-radius: 1px;
  /*border: 1px solid black;*/
  box-shadow: 1px 3px 2px 2px #D1D3D1;



}
.dharwadPedadis{
height : 340px;
width : 480px;
margin-left : 220px;
background-color : blue;
/*margin-top:-10px;*/
}

.dharwadPedaimg img{
  margin-top: -270px;
  margin-left:11px;
  width:200px;
  height:200px;
  border-radius:5px;

}


.places_info{

  line-height: 170px;
  color:black;
  font-size: 20px;
  font-family:cursive;
  display:block;
  border-radius:150px;

}


/*FOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOD*/
.karFood{
  width:755px;
  height:350px;
  background-color: #FAFCFC;
  margin-left:758px;
  margin-top: -350px;
  border-radius: 1px;
  box-shadow: 1px 3px 2px 2px #D1D3D1;


}
.karFoodText{
  height : 340px;
  width : 480px;
  margin-left : 220px;
  background-color :blue;

}

.food{
  margin-left:30px;
  margin-top: -250px;
  width:170px;
  height:170px;
  background-color: #D72E39;
  border-radius:150px;
  text-align: center;

}
.food_info{
  line-height: 170px;
  color:black;
  font-size: 20px;
  font-family:cursive;
  display:block;
  border-radius:150px;

}
.food_info:hover{
  text-decoration: none;
  color:white;
  background-color: #86141C;
/*  border-radius:150px;*/
  -webkit-transition:0.2s ease-in-out;
}

/*CULLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLTURE*/
.karCulture{
  width:755px;
  height:350px;
  background-color: #FAFCFC;
  margin-left:-5px;
  margin-top : -10px;
  border-radius: 1px;
  box-shadow: 1px 3px 2px 2px #D1D3D1;
  border-radius: 1px;


}
.karCultureText{
  height : 340px;
  width : 480px;
  margin-left : 220px;
  background-color : blue;

}

.culture{
  margin-left:30px;
  margin-top: -250px;
  width:170px;
  height:170px;
  background-color: #B4B920;
  text-align: center;
  border-radius:150px;
}
.culture_info{
  line-height: 170px;
  color:black;
  font-size: 20px;
  font-family:cursive;
  display:block;
  border-radius:150px;

}
.culture_info:hover{
  text-decoration: none;
  color:white;
  background-color: #616413;
  border-radius:150px;
  -webkit-transition:0.2s ease-in-out;
}

/*PEOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOPLE*/
.karPeople{
  width:755px;
  height:350px;
  background-color: #FAFCFC;
  margin-left:758px;
 margin-top : -350px;
 box-shadow: 1px 3px 2px 2px #D1D3D1;
 border-radius: 1px;

}
.karPeopleText{
  height : 340px;
  width : 480px;
  margin-left : 220px;
  background-color : blue;

}

.people{
  margin-left:30px;
  margin-top:-250px;
  width:170px;
  height:170px;
  background-color: #3AC73A;
  text-align: center;
  border-radius:150px;
}
.people_info{
line-height: 170px;
color:black;
font-size: 20px;
font-family:cursive;
display:block;
border-radius:150px;

}
.people_info:hover{
  text-decoration: none;
  color:white;
  background-color: #206C20;
  border-radius:150px;
  -webkit-transition:0.2s ease-in-out;
}
