.karBodyPlace{
  background-color: #F7EEEC;
}

.hillStations{
  width:100%;
  height:50px;
  background-color: lightblue;
  text-align:center;
  border-radius: 10px;

}
.hillStations h2 {
  font-family:inherit;
  line-height: 50px;
  text-decoration: none;
  color:black;

}
.nandiHills{
  margin-top:10px;
  width:100%;
  height:400px;
  background-color: #F3F5F5;
  border-radius: 2px;
  box-shadow: 1px 3px 2px 2px #D1D3D1;


}
.kudremukh{
  margin-top:10px;
  width:100%;
  height:400px;
  background-color: #F3F5F5;
  border-radius: 2px;
  box-shadow: 1px 3px 2px 2px #D1D3D1;

}
.agumbe{
  margin-top:10px;

  width:100%;
  height:400px;
  background-color: #F3F5F5;
  border-radius: 2px;
  box-shadow: 1px 3px 2px 2px #D1D3D1;

}
.mullayanagiri{
  margin-top:10px;

  width:100%;
  height:400px;
  background-color: #F3F5F5;
  border-radius: 2px;
  box-shadow: 1px 3px 2px 2px #D1D3D1;

}
.madikeri{
  width:100%;
  height:400px;
  background-color: #F6C7D6;
  border-radius: 10px;
}
.hornadu{
  margin-top:10px;

  width:100%;
  height:400px;
  background-color: #F3F5F5;
  border-radius: 2px;
  box-shadow: 1px 3px 2px 2px #D1D3D1;

}

.nandiimg img{
  margin-top : 20px;
  margin-left:20px;
  width:400px;
  height:360px;
  border-radius: 5px;
}



.agumbe img{
  margin-top : 20px;
  margin-left:20px;
  width:400px;
  height:360px;
  border-radius: 5px;
}
.kudremukh img{
  margin-top : 20px;
  margin-left:20px;
  width:400px;
  height:360px;
  border-radius: 5px;
}

.hornaduimg img{
  margin-top : 20px;
  margin-left:20px;
  width:400px;
  height:360px;
  border-radius: 5px;
}
.mullayanagiri img{
  margin-top : 20px;
  margin-left:20px;
  width:400px;
  height:360px;
  border-radius: 5px;
}

.madikeri img{
  margin-top : 20px;
  margin-left:20px;
  width:400px;
  height:360px;
  border-radius: 5px;
}

.nandidis{
  height: 360px;
  width : 1000px;
  margin-left : 470px;
  margin-top : -360px;
  text-align:justify;

}

.hornadudis{
  height: 360px;
  width : 1000px;
  margin-left : 470px;
  margin-top : -360px;

}
.madikeridis{
  height: 360px;
  width : 1000px;
  margin-left : 470px;
  margin-top : -360px;
  text-align:justify;


}
.mullayanagiridis{
  height: 360px;
  width : 1000px;
  margin-left : 470px;
  margin-top : -360px;
  text-align:justify;


}
.kudremukhdis{
  height: 360px;
  width : 1000px;
  margin-left : 470px;
  margin-top : -360px;
  text-align:justify;


}


.agumbedis{
  height: 360px;
  width : 1000px;
  margin-left : 470px;
  margin-top : -360px;
  text-align:justify;


}

/*############################################################### WATERFALLS######################################################################################*/
.waterFalls{
  width:100%;
  height:50px;
  background-color: lightblue;
  text-align:center;
  border-radius: 10px;

}
.waterFalls h2 {
  font-family:inherit;
  line-height: 50px;
  text-decoration: none;
  color:black;

}
.jogfalls{
  margin-top:10px;

  width:100%;
  height:400px;
  background-color: #F3F5F5;
  border-radius: 2px;
  box-shadow: 1px 3px 2px 2px #D1D3D1;


}
.shivanasamudra{
  margin-top:10px;

  width:100%;
  height:400px;
  background-color: #F3F5F5;
  border-radius: 2px;
  box-shadow: 1px 3px 2px 2px #D1D3D1;

}
.abbey{
  margin-top:10px;

  width:100%;
  height:400px;
  background-color: #F3F5F5;
  border-radius: 2px;
  box-shadow: 1px 3px 2px 2px #D1D3D1;

}
.iruppu{
  margin-top:10px;

  width:100%;
  height:400px;
  background-color: #F3F5F5;
  border-radius: 2px;
  box-shadow: 1px 3px 2px 2px #D1D3D1;

}
.madikeri{
  width:100%;
  height:400px;
  background-color: #F6C7D6;
  border-radius: 10px;
}
.jhari{
  margin-top:10px;

  width:100%;
  height:400px;
  background-color: #F3F5F5;
  border-radius: 2px;
  box-shadow: 1px 3px 2px 2px #D1D3D1;

}
.jogfallsimg img{
  margin-top : 20px;
  margin-left:20px;
  width:400px;
  height:360px;
  border-radius: 5px;
}

.abbey img{
  margin-top : 20px;
  margin-left:20px;
  width:400px;
  height:360px;
  border-radius: 5px;
}
.shivanasamudra img{
  margin-top : 20px;
  margin-left:20px;
  width:400px;
  height:360px;
  border-radius: 5px;
}

.jhariimg img{
  margin-top : 20px;
  margin-left:20px;
  width:400px;
  height:360px;
  border-radius: 5px;
}
.iruppu img{
  margin-top : 20px;
  margin-left:20px;
  width:400px;
  height:360px;
  border-radius: 5px;
}

.madikeri img{
  margin-top : 20px;
  margin-left:20px;
  width:400px;
  height:360px;
  border-radius: 5px;
}

.jogfallsdis{
  height: 360px;
  width : 1000px;
  margin-left : 470px;
  margin-top : -360px;
  text-align:justify;


}

.jharidis{
  height: 360px;
  width : 1000px;
  margin-left : 470px;
  margin-top : -360px;
  text-align:justify;


}
.madikeridis{
  height: 360px;
  width : 1000px;
  margin-left : 470px;
  margin-top : -360px;
  text-align:justify;


}
.iruppudis{
  height: 360px;
  width : 1000px;
  margin-left : 470px;
  margin-top : -360px;

}
.shivanasamudradis{
  height: 360px;
  width : 1000px;
  margin-left : 470px;
  margin-top : -360px;
  text-align:justify;


}


.abbeydis{
  height: 360px;
  width : 1000px;
  margin-left : 470px;
  margin-top : -360px;
  text-align:justify;


}
/*###############################################################WILDLIFE SANCTUARIES######################################################################################*/
.wildlife{
  width:100%;
  height:50px;
  background-color: lightblue;
  text-align:center;
  border-radius: 10px;

}
.wildlife h2 {
  font-family:inherit;
  line-height: 50px;
  text-decoration: none;
  color:black;

}
.nagarahole{
  margin-top:10px;

  width:100%;
  height:400px;
  background-color: #F3F5F5;
  border-radius: 2px;
  box-shadow: 1px 3px 2px 2px #D1D3D1;


}
.bandipur{
  margin-top:10px;

  width:100%;
  height:400px;
  background-color: #F3F5F5;
  border-radius: 2px;
  box-shadow: 1px 3px 2px 2px #D1D3D1;

}
.dandeli{
  margin-top:10px;

  width:100%;
  height:400px;
  background-color: #F3F5F5;
  border-radius: 2px;
  box-shadow: 1px 3px 2px 2px #D1D3D1;

}
.bannerghatta {
  margin-top:10px;

  width:100%;
  height:400px;
  background-color: #F3F5F5;
  border-radius: 2px;
  box-shadow: 1px 3px 2px 2px #D1D3D1;

}
.madikeri{
  width:100%;
  height:400px;
  background-color: #F6C7D6;
  border-radius: 10px;
}
.ranganthittu{
  margin-top:10px;

  width:100%;
  height:400px;
  background-color: #F3F5F5;
  border-radius: 2px;
  box-shadow: 1px 3px 2px 2px #D1D3D1;

}

.nagaraholeimg img{
  margin-top : 20px;
  margin-left:20px;
  width:400px;
  height:360px;
  border-radius: 5px;
}

.dandeli img{
  margin-top : 20px;
  margin-left:20px;
  width:400px;
  height:360px;
  border-radius: 5px;
}
.bandipur img{
  margin-top : 20px;
  margin-left:20px;
  width:400px;
  height:360px;
  border-radius: 5px;
}

.ranganthittuimg img{
  margin-top : 20px;
  margin-left:20px;
  width:400px;
  height:360px;
  border-radius: 5px;
}
.bannerghatta  img{
  margin-top : 20px;
  margin-left:20px;
  width:400px;
  height:360px;
  border-radius: 5px;
}

.madikeri img{
  margin-top : 20px;
  margin-left:20px;
  width:400px;
  height:360px;
  border-radius: 5px;
}

.nagaraholedis{
  height: 360px;
  width : 1000px;
  margin-left : 470px;
  margin-top : -360px;
  text-align:justify;


}

.ranganthittudis{
  height: 360px;
  width : 1000px;
  margin-left : 470px;
  margin-top : -360px;
  text-align:justify;


}
.madikeridis{
  height: 360px;
  width : 1000px;
  margin-left : 470px;
  margin-top : -360px;

}
.bannerghattadis{
  height: 360px;
  width : 1000px;
  margin-left : 470px;
  margin-top : -360px;
  text-align:justify;


}
.bandipurdis{
  height: 360px;
  width : 1000px;
  margin-left : 470px;
  margin-top : -360px;
  text-align:justify;


}


.dandelidis{
  height: 360px;
  width : 1000px;
  margin-left : 470px;
  margin-top : -360px;
  text-align:justify;


}
/*######################################################################RELIGIOUS#################################################################*/
.religious{
  width:100%;
  height:50px;
  background-color: lightblue;
  text-align:center;
  border-radius: 10px;

}
.religious h2 {
  font-family:inherit;
  line-height: 50px;
  text-decoration: none;
  color:black;

}
.virupaksha{
  margin-top:10px;

  width:100%;
  height:400px;
  background-color: #F3F5F5;
  border-radius: 2px;
  box-shadow: 1px 3px 2px 2px #D1D3D1;


}
.chennakeshava{
  margin-top:10px;

  width:100%;
  height:400px;
  background-color: #F3F5F5;
  border-radius: 2px;
  box-shadow: 1px 3px 2px 2px #D1D3D1;

}
.jamimasjid{
  margin-top:10px;

  width:100%;
  height:400px;
  background-color: #F3F5F5;
  border-radius: 2px;
  box-shadow: 1px 3px 2px 2px #D1D3D1;

}
.philomena{
  margin-top:10px;

  width:100%;
  height:400px;
  background-color: #F3F5F5;
  border-radius: 2px;
  box-shadow: 1px 3px 2px 2px #D1D3D1;

}
.madikeri{
  width:100%;
  height:400px;
  background-color: #F6C7D6;
  border-radius: 10px;
}
.gurunanak{
  margin-top:10px;

  width:100%;
  height:400px;
  background-color: #F3F5F5;
  border-radius: 2px;
  box-shadow: 1px 3px 2px 2px #D1D3D1;

}

.virupakshaimg img{
  margin-top : 20px;
  margin-left:20px;
  width:400px;
  height:360px;
  border-radius: 5px;
}



.jamimasjid img{
  margin-top : 20px;
  margin-left:20px;
  width:400px;
  height:360px;
  border-radius: 5px;
}
.chennakeshava img{
  margin-top : 20px;
  margin-left:20px;
  width:400px;
  height:360px;
  border-radius: 5px;
}

.gurunanakimg img{
  margin-top : 20px;
  margin-left:20px;
  width:400px;
  height:360px;
  border-radius: 5px;
}
.philomena img{
  margin-top : 20px;
  margin-left:20px;
  width:400px;
  height:360px;
  border-radius: 5px;
}

.madikeri img{
  margin-top : 20px;
  margin-left:20px;
  width:400px;
  height:360px;
  border-radius: 5px;
}

.virupakshadis{
  height: 360px;
  width : 1000px;
  margin-left : 470px;
  margin-top : -360px;
  text-align:justify;


}

.gurunanakdis{
  height: 360px;
  width : 1000px;
  margin-left : 470px;
  margin-top : -360px;
  text-align:justify;

}
.madikeridis{
  height: 360px;
  width : 1000px;
  margin-left : 470px;
  margin-top : -360px;
  text-align:justify;

}
.philomenadis{
  height: 360px;
  width : 1000px;
  margin-left : 470px;
  margin-top : -360px;
  text-align:justify;

}
.chennakeshavadis{
  height: 360px;
  width : 1000px;
  margin-left : 470px;
  margin-top : -360px;
  text-align:justify;

}


.jamimasjiddis{
  height: 360px;
  width : 1000px;
  margin-left : 470px;
  margin-top : -360px;
  text-align:justify;

}
/*################################################################BEACHES##########################################################################*/


.beaches {
    width: 100%;
    height: 50px;
    background-color: lightblue;
    text-align: center;
    border-radius: 10px;

}

.beaches h2 {
    font-family: inherit;
    line-height: 50px;
    text-decoration: none;
    color: black;

}

.gokarnabeach {
  margin-top:10px;

    width: 100%;
    height: 400px;
    background-color: #F3F5F5;
    border-radius: 2px;
    box-shadow: 1px 3px 2px 2px #D1D3D1;


}

.murudeshwarbeach {
  margin-top:10px;

    width: 100%;
    height: 400px;
    background-color: #F3F5F5;
    border-radius: 2px;
    box-shadow: 1px 3px 2px 2px #D1D3D1;

}

.malpebeach {
  margin-top:10px;

    width: 100%;
    height: 400px;
    background-color: #F3F5F5;
    border-radius: 2px;
    box-shadow: 1px 3px 2px 2px #D1D3D1;

}

.karwarbeach {
  margin-top:10px;

    width: 100%;
    height: 400px;
    background-color: #F3F5F5;
    border-radius: 2px;
    box-shadow: 1px 3px 2px 2px #D1D3D1;

}

.maravanthebeach {
  margin-top:10px;

    width: 100%;
    height: 400px;
    background-color: #F3F5F5;
    border-radius: 2px;
    box-shadow: 1px 3px 2px 2px #D1D3D1;

}

.gokarnabeachimg img {
    margin-top: 20px;
    margin-left: 20px;
    width: 400px;
    height: 360px;
    border-radius: 5px;
}

.malpebeach img {
    margin-top: 20px;
    margin-left: 20px;
    width: 400px;
    height: 360px;
    border-radius: 5px;
}

.murudeshwarbeachimg img {
    margin-top: 20px;
    margin-left: 20px;
    width: 400px;
    height: 360px;
    border-radius: 5px;
}


.karwarbeach img {
    margin-top: 20px;
    margin-left: 20px;
    width: 400px;
    height: 360px;
    border-radius: 5px;
}

.maravanthebeach img {
    margin-top: 20px;
    margin-left: 20px;
    width: 400px;
    height: 360px;
    border-radius: 5px;
}

.gokarnabeachdis {
    height: 360px;
    width: 1000px;
    margin-left: 470px;
    margin-top: -360px;
    text-align:justify;


}

.maravanthebeachdis {
    height: 360px;
    width: 1000px;
    margin-left: 470px;
    margin-top: -360px;
    text-align:justify;


}

.karwarbeachdis {
    height: 360px;
    width: 1000px;
    margin-left: 470px;
    margin-top: -360px;
    text-align:justify;


}

.murudeshwarbeachdis {
    height: 360px;
    width: 1000px;
    margin-left: 470px;
    margin-top: -360px;
    text-align:justify;


}


.malpebeachdis {
    height: 360px;
    width: 1000px;
    margin-left: 470px;
    margin-top: -360px;
    text-align:justify;


}
