.karnataka_body{
  background-color: white;
}
/*PLAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACES*/
.karPlaces{
  width:730px;
  height:380px;
  background-color: #BFBBBB;
  margin-left:-15px;
  margin-top : -120px;


}
.karPlacesText{
height : 350px;
width : 300px;
margin-left : 400px;
background-color : #BFBBBB;
}

.places{
  margin-top: -320px;
  margin-left:30px;
  width:300px;
  height:300px;
  line-height: 300px;

  background-color: #1F3BC4;
  text-align: center;
  border-radius:20px;

}


.places_info{

  line-height: 300px;
  color:black;
  font-size: 30px;
  font-family:cursive;
  display:block;
  border-radius:20px;

}
.places_info:hover{
  text-decoration: none;
  color:white;
  background-color: #101F6E;
  border-radius:20px;
  -webkit-transition:0.1s ease-in-out;
}

/*FOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOD*/
.karFood{
  width:806px;
  height:380px;
  background-color: #898686;
  margin-left:715px;
  margin-top: -380px;

}
.karFoodText{
  height : 350px;
  width : 300px;
  margin-left : 400px;
  background-color :#898686;

}

.food{
  margin-left:30px;
  margin-top: -320px;
  width:300px;
  height:300px;
  background-color: #D72E39;
  border-radius:20px;
  text-align: center;

}
.food_info{
  line-height: 300px;
  color:black;
  font-size: 30px;
  font-family:cursive;
  display:block;
  border-radius:20px;

}
.food_info:hover{
  text-decoration: none;
  color:white;
  background-color: #86141C;
  border-radius:20px;
  -webkit-transition:0.1s ease-in-out;
}

/*CULLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLTURE*/
.karCulture{
  width:730px;
  height:380px;
  background-color: #898686;
  margin-left:-15px;
 margin-top : 0px;
}
.karCultureText{
  height : 350px;
  width : 300px;
  margin-left : 400px;
  background-color : #898686;

}

.culture{
  margin-left:30px;
  margin-top: -320px;
  width:300px;
  height:300px;
  background-color: #B4B920;
  text-align: center;
  border-radius:20px;
}
.culture_info{
  line-height: 300px;
  color:black;
  font-size: 30px;
  font-family:cursive;
  display:block;
  border-radius:20px;

}
.culture_info:hover{
  text-decoration: none;
  color:white;
  background-color: #616413;
  border-radius:20px;
  -webkit-transition:0.1s ease-in-out;
}

/*PEOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOPLE*/
.karPeople{
  width:806px;
  height:380px;
  background-color: #BFBBBB;
  margin-left:715px;
 margin-top : -380px;
}
.karPeopleText{
  height : 350px;
  width : 300px;
  margin-left : 400px;
  background-color : #BFBBBB;

}

.people{
  margin-left:30px;
  margin-top:-320px;
  width:300px;
  height:300px;
  background-color: #3AC73A;
  text-align: center;
  border-radius:20px;
}
.people_info{
line-height: 300px;
color:black;
font-size: 30px;
font-family:cursive;
display:block;
border-radius:20px;

}
.people_info:hover{
  text-decoration: none;
  color:white;
  background-color: #206C20;
  border-radius:20px;
  -webkit-transition:0.1s ease-in-out;
}
